html
{
}

body
{
 padding:4px;
}

body,h1,h2,h3,h4,h5,h6
{
 font-size:18px;
 font-family:monospace;
}

h1,h2,h3,h4,h5,h6
{
 margin:0;
}

hr
{
 height:1px;
 margin-top:4px;
 margin-bottom:4px;
 border:0;
 background-color:lightgray;
}

iframe
{
 border:none;
}

td
{
 padding-right:4px;
 vertical-align:top;
}

a
{
 color:blue;
}

a:hover
{
 color:red;
 text-decoration:none;
}

code
{
 color:whitesmoke;
 background-color:gray;
}

figure
{
 margin:0;
}

img
{
 image-rendering:pixelated;
}

/*custom*/

.spacer
{
 height:24px;
}

.middle
{
 vertical-align:middle;
}

.bottom
{
 vertical-align:bottom;
}

.border
{
 border:1px solid lightgray;
}

.border-top
{
 border-top:1px solid lightgray;
}

.bold
{
 font-weight:bold;
}

.normal
{
 font-weight:normal;
}

.undecorate
{
 text-decoration:none;
}

.gray
{
 color:lightgray;
}

/*highlight*/

.highlighter-rouge
{
 color:whitesmoke;
 background-color:gray;
}

.highlight
{
 padding:4px;
 border:1px solid lightgray;
 background-color:whitesmoke;
}

.highlight code
{
 color:black;
 background-color:whitesmoke;
}

.k
{
 color:blue;
 font-weight:bold;
}

.kt
{
 color:darkred;
 font-weight:bold;
}

.s
{
 color:darkorange;
}

.title h1{
    display: inline;
}

.title p{
    display: inline;
    color: darkgray;
    font-size: 16px;
}
