---
title: "dailyprog: the daily programming community"
layout: default
---

<h1>Welcome here <b>programmer</b>!</h1>

<div class="spacer"></div>

<table width="100%">
 <tr>
  <td>
   <h2>News</h2>
   <table>
    {% for post in site.posts %}
     <tr>
      <td align="right">{{ post.date | date: "%Y-%m-%d" }}</td>
      <td>
       <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </td>
     </tr>
    {% endfor %}
   </table>
  </td>
  <td align="right">
   <h2>Programmers</h2>
   <table>
    {% for programmer in site.data.programmer %}
     <tr>
      <td align="right"><a href="{{ programmer.url }}" class="undecorate">{{ programmer.name }}</a></td>
      <td>
       <span title="{{ programmer.cloc.lang }}">{{ programmer.cloc.extension }}</span>
      </td>
      <td align="right">
       {% if programmer.cloc.count != '0' %}
        <a href="/u/{{ programmer.name }}/" title="sloc count" class="undecorate">{{ programmer.cloc.count }}</a>
       {% endif %}
      </td>
      <td align="right">
       <span title="disk usage">{{ programmer.usage }}</span>
      </td>
     </tr>
    {% endfor %}
   </table>
  </td>
 </tr>
</table>
