<div class="spacer"></div>

<hr />

<table width="100%"> 
 <tr>
  <td>
   <a href="/meme/#templeos"><img src="/img/templeos-logo.png" height="64" title="TempleOS" /></a>
   <a href="/meme/#rust"><img src="/img/rust-monkey.jpg" height="64" title="Rewrite everything in Rust" /></a>
  </td> 
  <td align="right">   
   <img src="/img/gitlab.svg" width="16" class="middle" /> <a href="https://gitlab.com/dailyprog" class="undecorate">gitlab</a>
   <span class="gray">|</span>
   <a href="/chat/" class="undecorate">irc</a>
  </td>
 </tr>
</table>
