<table width="100%"> 
 <tr>
  <td>
   <a href="/"><img src="/img/dailyprog-ascii.png" height="64" title="dailyprog" /></a>
   <a href="/holy/#rms"><img src="/img/holy-rms.png" height="64" title="RMS" /></a>
   <a href="/holy/#terry"><img src="/img/holy-terry.png" height="64" title="Terry" /></a>
   <a href="/holy/#pg"><img src="/img/pg-halo.png" height="64" title="PG" /></a>
   <a href="/holy/#musk"><img src="/img/musk.png" height="64" title="Elon Musk" /></a>
  </td> 
  <td align="right" class="bottom">   
   {% assign pipe = true %}
   {% for page in site.pages %}
    {% if page.menu == 'main' %}
     {% if pipe == false %}<span class="gray">|</span>{% endif %}
     <a href="{{ page.url }}" class="undecorate">{{ page.title }}</a>
     {% assign pipe = false %}
    {% endif %}
   {% endfor %}
  </td>
 </tr>
</table>

<hr />

<table width="100%"> 
 <tr>
  <td>
   {% if page.url == "/" %}
    <div>
     metrics:
     <span title="community sloc count" class="bold">{{ site.data.community.count }}</span> 
     <span title="source line of code">sloc</span>
     <span class="gray">|</span>
     <span title="space used">{{ site.data.community.usage }}</span>
    </div>
   {% else %}
    <div class="title">
	<h1><span class="normal">$</span> {{ page.title }}</h1>
	<p>{% if page.author %} by: {{page.author}}{% endif %}</p>
    </div>
    </td>
   {% endif %}
  <td align="right">
   {% if page.date %}
    {{ page.date | date: "%Y-%m-%d" }}
   {% else %}
    <span class="gray">{{ "now" | date: "%Y-%m-%d" }}</span>
   {% endif %}
  </td>
 </tr>
</table>

<div class="spacer"></div>
